<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    	<class name="API_Chaining.CreateUserChain"/>
    	<class name="API_Chaining.GetUserChain"/>
    	<class name="API_Chaining.UpdateUserChain"/>
    	<class name="API_Chaining.DeleteUserChain"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
